body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
}

nav{
    background-color: rgb(0, 17, 19);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 5.5rem;
    width: 100%;
    position: fixed;
    z-index: 9999;
}




#page-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-brand {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}



a {
    text-decoration: none;
}

li {
    list-style: none;
}
  
#options ul {
    display: flex;
    flex-direction: row;

}

#options li {
    padding-right: 2rem;
}

#options a {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10.5rem ;
    height: 2.6rem;
    border-radius: 6px;
    font-size: 1.2rem;
    transition: box-shadow 0.3s ease-out;
    transition: border-bottom 0.1s ease-out;
}

#acceuil p{
    width: 10rem;
}

#options  a:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.545);
    border-bottom: 4px solid rgb(0, 29, 25);
}

#options img {
    padding-right: 0.3rem;
}

#options p {
    color: white;
}

#space {
    height: 7.5rem;
}


#main-title{
    background-color: rgb(4, 186, 165);
    height: 5rem;
    width: 80%;
    margin:0 auto 2rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left: 8px solid rgb(1, 154, 136);
}

#main-title img{
    margin-left: 0.5rem;
    margin-right: 0.2rem;
}

#main-title p{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}

#logout{
    padding-left: 40rem;
}

footer{
    background-color: black;
    padding: 0rem 0 0 0rem;
}

#ancors  {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    border-bottom: 1px solid rgb(41, 41, 41);

}

#ancors a {
    text-decoration: none;
    color: aliceblue;
    font-size: 0.8rem;
}
#ancors ul{
    margin-right: 11rem;
}

#ancors li {
    padding: 0.5rem;
}

.title_footer{
    text-transform: uppercase;
    font-weight: bold;
}

#rights{
    color: #717171;
    font-size: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    padding-left: 3rem;
}